<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--指定当前工程在管控平台中的名称-->
    <dubbo:application name="02-consumer-zk"/>

    <dubbo:registry protocol="zookeeper" address="zkOS1:2181,zkOS2:2182,zkOS3:2183"/>

    <!--连接提供者-->
    <!-- 使用旧的服务 version="0.0.1" -->
<!--    <dubbo:reference id="someService" check="false"-->
<!--                     interface="com.wyx.service.SomeService" version="0.0.1"/>-->

    <!-- 使用新的服务 version="0.0.2" -->
    <!-- protocol:用于指定协议-->
    <dubbo:reference id="someService" check="false"
                     interface="com.wyx.service.SomeService"
                     version="0.0.2" protocol="rmi"/>

    <!-- 不指定版本会失败 -->
<!--    <dubbo:reference id="someService" check="false"-->
<!--                     interface="com.wyx.service.SomeService"/>-->
</beans>